.guess {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: left;
  height: 60px;
  font-size: 1.1vw;
  font-weight: 100;
  color: #8c8c8c;
  /*border: solid black 1px;*/
  padding-left: 20px;


}

.item-list {
  /*border: solid red 1px;*/
  /*box-shadow: -5px 5px 10px 3px gray;*/
  margin: 0;
  /*padding-left: 0;*/
}



