.text-box {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  font-size: 20px;
  font-weight: 100;
  color: #8c8c8c;
  height: 50px;
  margin-left: 0;

  }

  .text-box::-webkit-input-placeholder{
    font-style: italic;
    opacity: .8;


  }

.text-box-container {
  width: 23vw;
  padding-top: 30px;
  margin: 0 auto 0 auto;
}