// Rather than host the icon font ourselves. We use a public resource.
$icon-font-path = "//netdna.bootstrapcdn.com/bootstrap/3.3.2/fonts/"

// Importing the index file from the bootstrap-styl package includes all the
// styles needed for react-bootstrap.
@import "~bootstrap-styl/bootstrap/index"


body {
  background-color: lightgray;
}

.debugging {
  border: 2px dotted red;
  margin: 20px;
  padding: 4px;
}