.left ol {
  padding-left: 0;

}

.left li {
  font: 2vw 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  text-align: center;
  list-style-type: none;
  padding: 15px;
  opacity: .5;
}

.date-list {
  margin: 0;
}

.left li:nth-child(odd) {
  background-color: lightgray;
}

.currentDay {
  border: solid darkorange 2px;
}